SPRING_PROFILES_ACTIVE=prod
SERVER_PORT=8080

DB_HOST=postgres
DB_PORT=5432
DB_NAME=estoque_inox
DB_USER=estoque_user
DB_PASSWORD=troque_por_uma_senha_forte

APP_SEED_ENABLED=true

BACKUP_KEEP_LAST=14
